.container {
  color: black;
  flex-direction: column;
  margin-bottom: 75px;
}

.btn {
  border-radius: 10px;
  height: 50px;
  min-width: 50px;
}

.btn-success {
  background-color: var(--cc-green);
  border-color: var(--cc-darkgreen);
}

.btn-success:hover {
  color: #fff;
  background-color: var(--cc-darkgreen);
  border-color: var(--cc-darkgreen);
}

.size {
  border-radius: 5px;
  width: 40px;
  height: 40px;
  display: inline-block;
  padding: 0;
  margin: 0;
}

.button-img {
  display: block;
  width: 40px;
  height: 40px;
}

.card-header {
  border-radius: 10px 10px 0 0;
  background-color: #E3D3B1;
  font-weight: bold;
}

.highlight-header {
  background-color: #C19462;
}

.card-body {
  border-radius: 0 0 10px 10px;
  background-color: #FFFFCC;
}

.card {
  border-radius: 10px;
  border-width: 0;
}

.masonry-item {
  transition: top 0.4s ease-in-out, left 0.4s ease-in-out;
}

#editNoteButton, #deleteButton{
  background: transparent;
  border: 0;
}

.modal-content {
  border-radius: 10px;
  border-color: var(--cc-darkgreen);
}
.modal-header {
  border-bottom-color: var(--cc-darkgreen);
}
.modal-footer {
  border-top-color: var(--cc-darkgreen);
}
