<div class="container position-relative h-100">
  <div class="row pt-5" data-masonry='{"percentPosition": true, "itemSelector": ".col" }'>
    <div class="col col-sm-6 col-lg-4 mb-4">
      <div class="card shadow">
        <div class="card-header">
          Here comes the title
        </div>
        <div class="card-body">
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <div class="row text-muted">
            <div class="col-6">
              Author
            </div>
            <div class="text-end col-6">
              2 days ago
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-sm-6 col-lg-4 mb-4">
      <div class="card shadow">
        <div class="card-header">
          Here comes the title
        </div>
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vestibulum id ante in
            scelerisque. Phasellus varius suscipit sapien in dapibus. Sed eu quam eget nibh laoreet vehicula a in
            magna. </p>
          <div class="row text-muted">
            <div class="col-6">
              Author
            </div>
            <div class="text-end col-6">
              2 days ago
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-sm-6 col-lg-4 mb-4">
      <div class="card shadow">
        <div class="card-header">
          Here comes the title
        </div>
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vestibulum id ante in
            scelerisque. Phasellus varius suscipit sapien in dapibus. Sed eu quam eget nibh laoreet vehicula a in
            magna.
            Nam aliquam massa nec metus laoreet, ut tincidunt nisi auctor. Vivamus posuere arcu ut lobortis
            sollicitudin. Phasellus a metus leo. Fusce a sem nec urna sodales commodo. Etiam aliquet nunc non molestie
            feugiat. Aliquam pretium egestas tortor, eget vulputate odio varius id. Duis a pharetra turpis. </p>
          <div class="row text-muted">
            <div class="col-6">
              Author
            </div>
            <div class="text-end col-6">
              2 days ago
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-sm-6 col-lg-4 mb-4">
      <div class="card shadow">
        <div class="card-header">
          Here comes the title
        </div>
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vestibulum id ante in
            scelerisque. Phasellus varius suscipit sapien in dapibus. Sed eu quam eget nibh laoreet vehicula a in
            magna. </p>
          <div class="row text-muted">
            <div class="col-6">
              Author
            </div>
            <div class="text-end col-6">
              2 days ago
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-sm-6 col-lg-4 mb-4">
      <div class="card shadow">
        <div class="card-header">
          Here comes the title
        </div>
        <div class="card-body">
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <div class="row text-muted">
            <div class="col-6">
              Author
            </div>
            <div class="text-end col-6">
              2 days ago
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-sm-6 col-lg-4 mb-4">
      <div class="card shadow">
        <div class="card-header">
          Here comes the title
        </div>
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vestibulum id ante in
            scelerisque. Phasellus varius suscipit sapien in dapibus. Sed eu quam eget nibh laoreet vehicula a in
            magna.
            Nam aliquam massa nec metus laoreet, ut tincidunt nisi auctor. Vivamus posuere arcu ut lobortis
            sollicitudin. Phasellus a metus leo. Fusce a sem nec urna sodales commodo. Etiam aliquet nunc non molestie
            feugiat. Aliquam pretium egestas tortor, eget vulputate odio varius id. Duis a pharetra turpis. </p>
          <div class="row text-muted">
            <div class="col-6">
              Author
            </div>
            <div class="text-end col-6">
              2 days ago
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-sm-6 col-lg-4 mb-4">
      <div class="card shadow">
        <div class="card-header">
          Here comes the title
        </div>
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vestibulum id ante in
            scelerisque. Phasellus varius suscipit sapien in dapibus. Sed eu quam eget nibh laoreet vehicula a in
            magna. </p>
          <div class="row text-muted">
            <div class="col-6">
              Author
            </div>
            <div class="text-end col-6">
              2 days ago
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-sm-6 col-lg-4 mb-4">
      <div class="card shadow">
        <div class="card-header">
          Here comes the title
        </div>
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vestibulum id ante in
            scelerisque. Phasellus varius suscipit sapien in dapibus. Sed eu quam eget nibh laoreet vehicula a in
            magna. </p>
          <div class="row text-muted">
            <div class="col-6">
              Author
            </div>
            <div class="text-end col-6">
              2 days ago
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="position-absolute bottom-0 end-0 p-5" [ngClass]="{'d-none': selectedWorkfieldFromNavbar.name !== 'botany'}" *ngIf="createNote === false; else addNote;">
    <button type="button" class="btn btn-success size d-lg-none shadow" (click)="onCreateNote(false)">
      <img class="button-img" src="https://icon-library.com/images/compose-icon/compose-icon-1.jpg" alt="add note">
    </button>
    <button type="button" class="btn btn-success d-none d-lg-block shadow" (click)="onCreateNote(false)">
      Create Note
    </button>
  </div>
  <ng-template #addNote>
    <ng-container>
      <app-share-notes class="position-absolute w-100 top-50 start-0 translate-middle-y"
                       (unselectedEvent)="onCreateNote($event)">
      </app-share-notes>
      <!--   <router-outlet></router-outlet>      route werkt nog niet helemaal goed-->
    </ng-container>
  </ng-template>
</div>

