.container {
  color: black;
  flex-direction: column;
}

.btn-success{
  background-color: var(--cc-green);
  border-color: var(--cc-darkgreen);
}
.btn-success:hover {
  color: #fff;
  background-color: var(--cc-darkgreen);
  border-color: var(--cc-darkgreen);
}
.size{
  border-radius: 5px;
  width: 40px;
  height: 40px;
  display: inline-block;
  padding: 0;
  margin: 0;
}

.button-img{
  display: block;
  width: 40px;
  height: 40px;
}

.card-header{
  background-color: #e3d3b1;
  font-weight: bold;
}

.card-body{
  background-color: #FFFFCC;
}

.card{
  margin: 20px;
  display: inline-block !important;
}

@media only screen and (min-width: 992px) {
  .card-columns {
    column-count: 3;
  }
  .top{
    top: 325px;
  }
}

@media only screen and (max-width: 992px) {
  .card-columns {
    column-count: 1;
  }
  .top{
    top: 275px;
  }
}



