<h1 class="text-center m-4">Your team notes {{selectedFieldFromNavbar.name}}</h1>
<div class="container text-center">

  <div class="row mb-5 mx-3">
    <div class="col-sm mt-3">
      <div class="row">
        <div class="col-sm-4">
          <h5 class="team">Team 5</h5>
        </div>
        <div class="col-sm-4">
          <h5 class="author">Marcio Fuckner</h5>
        </div>
        <div class="col-sm-4">
          <h5 class="timestamp">22 okt | 16:20</h5>
        </div>
      </div>
      <hr>
      <p>Yesterday I changed the pH value and now there is less CO2 in the air</p>
    </div>

  </div>
  <div class="row mb-5 mx-3">
    <div class="col-sm mt-3">
      <div class="row">
        <div class="col-sm-4">
          <h5 class="team">Team 5</h5>
        </div>
        <div class="col-sm-4">
          <h5 class="author">Marcio Fuckner</h5>
        </div>
        <div class="col-sm-4">
          <h5 class="timestamp">22 okt | 16:20</h5>
        </div>
      </div>
      <hr>
      <p>Yesterday I changed the pH value and now there is less CO2 in the air</p>
    </div>
  </div>

  <div class="row mb-5 mx-3">
    <div class="col-sm mt-3">
      <div class="row">
        <div class="col-sm-4">
          <h5 class="team">Team 5</h5>
        </div>
        <div class="col-sm-4">
          <h5 class="author">Marcio Fuckner</h5>
        </div>
        <div class="col-sm-4">
          <h5 class="timestamp">22 okt | 16:20</h5>
        </div>
      </div>
      <hr>
      <p>Yesterday I changed the pH value and now there is less CO2 in the air</p>
    </div>
  </div>
</div>
