<form [formGroup]="newUserForm" (ngSubmit)="onSubmit()" autocomplete="off" class="container fade-in px-1">
  <div class="row mt-3">

    <div class="container">
      <div *ngIf="showErrorMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error!</strong> User with {{email}} already exists.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <div *ngIf="showSuccessMessage" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success!</strong> User has been registered.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="mb-3">
        <label class="form-label fw-bold" for="firstName">First name:</label>
        <input class="form-control py-2" [ngClass]="{'is-invalid': firstName.invalid && firstName.dirty}"
               formControlName="firstName" type="text" id="firstName"
               name="firstName" placeholder="Enter a first name here">
        <div class="invalid-feedback">
          <span>First name is required!</span>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label fw-bold" for="lastName">Last name:</label>
        <input class="form-control py-2" [ngClass]="{'is-invalid': lastName.invalid && lastName.dirty}"
               formControlName="lastName" type="text" id="lastName"
               name="lastName" placeholder="Enter a last name here">
        <div class="invalid-feedback">
          <span>Last name is required!</span>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label fw-bold" for="email">Email:</label>
        <input class="form-control py-2" [ngClass]="{'is-invalid': emailAddress.invalid && emailAddress.dirty}"
               formControlName="emailAddress" type="email" id="email"
               name="email" placeholder="email@example.com">
        <div class="invalid-feedback">
          <span *ngIf="emailAddress.errors?.required">Email address is required!</span>
          <span *ngIf="emailAddress.errors?.email">Please enter a valid email!</span>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label fw-bold" for="password">Temporary password:</label>
        <input class="form-control py-2" [ngClass]="{'is-invalid': password.invalid && password.value}"
               formControlName="password" autocomplete="new-password" type="password"
               id="password"
               name="password" placeholder="Enter a password here">
        <small class="fst-italic text-muted ms-1">Optional</small>
        <div class="invalid-feedback">
          Password needs to meet the following criteria:
          <ul>
            <li *ngIf="password.errors?.length">Must be at least 8 characters long</li>
            <li *ngIf="password.errors?.number">Must contain a number</li>
            <li *ngIf="password.errors?.upperCase">Must contain an uppercase character</li>
            <li *ngIf="password.errors?.lowerCase">Must contain a lowercase character</li>
            <li *ngIf="password.errors?.illegalChars">May only contain these special characters: (!@#$%&_=+?~-)
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="mb-3">
        <label for="role" class="form-label fw-bold">Role</label>
        <select formControlName="role" id="role" class="form-control form-select py-2" [ngClass]="{'is-invalid': role.invalid && role.dirty}">
          <option disabled hidden value="">Choose a role</option>
          <ng-container *ngFor="let role of Role.values().reverse()">
            <option *ngIf="(role == Role.SUPER_ADMIN || role == Role.ADMIN) && user.role == Role.SUPER_ADMIN || role == Role.MEMBER" [value]="role">{{role}}</option>
          </ng-container>
        </select>
        <div class="invalid-feedback">
          <span>Please select a role!</span>
        </div>
      </div>
      <div class="mb-3">
        <label for="specialtyPicker" class="form-label fw-bold">Specialty</label>
        <select formControlName="specialty" id="specialtyPicker" class="form-control form-select py-2" [ngClass]="{'is-invalid': specialty.invalid && specialty.dirty}">
          <option disabled hidden value="">Choose a specialty</option>
          <option *ngFor="let s of specialties" [value]="s">{{s.replace("-"," ")}}</option>
        </select>
        <div class="invalid-feedback">
          <span>Please select a specialty!</span>
        </div>
      </div>
      <div class="mb-3">
        <label for="team" class="form-label fw-bold">Team</label>
        <select formControlName="teamId" id="team" class="form-control form-select py-2" [ngClass]="{'is-invalid': teamId.invalid && teamId.dirty}">
          <option disabled hidden value="">Choose a team</option>
          <ng-container *ngFor="let id of teamIds">
            <option *ngIf="user.role == Role.ADMIN && user.teamId.toString() == id || user.role == Role.SUPER_ADMIN" [value]="id">Team {{id}}</option>
          </ng-container>
        </select>
        <div class="invalid-feedback">
          <span>Please select a team!</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 offset-6 p-0">
      <button class="btn btn-primary fw-bold float-end shadow" type="submit">
        Submit
      </button>
    </div>
  </div>
</form>

