
<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
     <h3>Make an account</h3>
    
      <!-- Login Form -->
      <form>
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="Username">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="Email">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="Password?">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="Confirm Password">     
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Specialist
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Agronomy</a></li>
            <li><a class="dropdown-item" href="#">Botany</a></li>
            <li><a class="dropdown-item" href="#">Geology</a></li>
            <li><a class="dropdown-item" href="#">Hydrology </a></li>
            <li><a class="dropdown-item" href="#">Climate Science</a></li>
          </ul>
        </div>

    </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter" class="d-flex flex-row justify-content-center">
        <button type="submit">Register</button>
      </div>
  
    </div>
  </div>

  