
<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
     <h3>Make an account</h3>
    
      <!-- Login Form -->
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="Card Number">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="Username">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="Email">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="Password?">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="Confirm Password">     
        <div class="btn-group">
              <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="sr-only">Specialist</span>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
              </div>
        </div>
        <br>
        <input type="submit" class="fadeIn fourth" value="Log In">
        <br>
        <input type="checkbox" id="rememberMe" value="Log In" value="">
        <label for="rememberMe">Remember Me</label>
   
    </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter" class="d-flex flex-row justify-content-between">
        <a class="underlineHover" >Forgot Password?</a>
        <a class="underlineHover" routerLink="/register">Register</a>
      </div>
  
    </div>
  </div>

  