.navbar{
  background-color: var(--cc-green);
  font-weight: bold;
}
.nav-link, .navbar-brand{
  color: white;
}
.nav-link{
  padding: 16px 8px;
  text-align: center;
}
.nav-link:hover, .nav-link:focus{
  color: var(--bs-dark);
  background-color: white;
}
.dropdown-menu{
  margin-top: -0.25rem;
}
img.navbar-brand{
  height: 50px;
  filter: brightness(100);
}
.navbar-toggler:focus{
  box-shadow: 0 0 0 0.1rem white;
}

