.navbar{
  background-color: var(--cc-green);
  font-weight: bold;
}
.nav-link, .navbar-brand{
  color: white;
}
.nav-link{
  padding: 16px 8px;
  text-align: center;
}
.nav-link:hover, .nav-link:focus, .nav-link-active{
  color: var(--bs-dark);
  background-color: white;
}
.nav-user > img{
  height: 40px;
  width: 40px;
  object-fit: cover;
}
.dropdown-toggle::after{
  vertical-align: 0;
}
.dropdown-menu{
  margin-top: -0.25rem;
}
.navbar-brand > img{
  height: 40px;
}
.navbar-toggler:focus{
  box-shadow: 0 0 0 0.1rem white;
}
.nav-top{
top: 5px;
}
@media only screen and (min-width: 992px) {
  .nav-top{
    top: 8px;
  }
}
.white-filter{
  filter: brightness(100);
}
.fs-12{
  font-size: 12px;
}
