.dropdown > .btn::after {
  margin-left: auto;
  margin-right: 0.255em;
  transition: transform 0.2s ease-in-out;
}
.dropdown > .btn.show::after {
  transform: rotate(-180deg);
}
.list-group-item {
  border-color: var(--cc-green);
}
.dropdown-item:active {
  background-color: var(--cc-green);
}
.dropdown-item.active, .list-group-item.active {
  background-color: var(--cc-green);
  font-weight: bold;
}
.modal-content {
  border-radius: 10px;
  border-color: var(--cc-darkgreen);
}
.modal-header {
  border-bottom-color: var(--cc-darkgreen);
}
.modal-footer {
  border-top-color: var(--cc-darkgreen);
}
