.chart-airHumidity{
  display: inline-block;
  width: 400px;
  height: 400px;
  float: left;
}
.chart-airTemperature{
  display: inline-block;
  width: 400px;
  height: 400px;
  float: left;
}
.background{
  background-color: rgba(227, 214, 214, 0.28);
  border-radius: 50px;
  padding: 30px;
}
