<div class="container pt-4">
  <ng-container *ngFor="let sensor of sensors">
    <div class="card shadow p-3 mb-3">
      <canvas *ngIf="sensor.name != 'lighting_rgb'" class="p-2" [id]="sensor.nameCamelCase" baseChart
              [chartType]="data.get(sensor.nameCamelCase).type"
              [datasets]="data.get(sensor.nameCamelCase).dataSets"
              [labels]="data.get(sensor.nameCamelCase).labels"
              [options]="data.get(sensor.nameCamelCase).options"
              [legend]="data.get(sensor.nameCamelCase).legend"
              [plugins]="data.get(sensor.nameCamelCase).plugins"
              [colors]="data.get(sensor.nameCamelCase).colors">
      </canvas>
      <table class="table table-dark">
        <thead>
        <tr>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
</div>
