<div class="container px-0 my-2">
  <form [formGroup]="accountForm" (ngSubmit)="onSubmit()">
    <h2 class="fw-bold">Account</h2>
    <!--Name-->
    <div class="row">
      <div class="col-md-6 my-2">
        <label for="firstName" class="form-label fw-bold">First name</label>
        <input type="text" [ngClass]="firstName.valid ? 'is-valid' : 'is-invalid'"
               class="form-control py-2" id="firstName" formControlName="firstName"
               placeholder="Enter your first name" required>
        <div class="invalid-feedback">
          First name is required
        </div>
      </div>
      <div class="col-md-6 my-2">
        <label for="lastName" class="form-label fw-bold">Last name</label>
        <input type="text" [ngClass]="lastName.valid ? 'is-valid' : 'is-invalid'"
               class="form-control py-2" id="lastName" formControlName="lastName"
               placeholder="Enter your last name" required>
        <div class="invalid-feedback">
          Last name is required
        </div>
      </div>
    </div>
    <!--Profile picture-->
    <div class="row">
      <div class="col-md my-2">
        <label for="profilePicture" class="form-label fw-bold">Profile picture</label>
        <div id="profilePicture">
          <img class="rounded-circle me-2 pe-auto"
               [src]="copyUser.profilePicture"
               alt="Profile picture" data-bs-toggle="modal" data-bs-target="#profilePictureModal">
          <button type="button" class="btn btn-primary fw-bold ms-2" data-bs-toggle="modal"
                  data-bs-target="#profilePictureModal">
            Change
          </button>
          <button type="button" class="btn btn-outline-danger fw-bold ms-2">Delete</button>
          <div class="modal fade" id="profilePictureModal" tabindex="-1" aria-labelledby="ppModalLabel"
               aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="ppModalLabel">Profile picture</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="mb-3">
                    <label for="profilePictureFile" class="col-form-label fw-bold">Select a local file</label>
                    <input type="file" class="form-control" id="profilePictureFile">
                  </div>
                  <div class="mb-3">
                    <label for="profilePictureUrl" class="col-form-label fw-bold">Or enter URL</label>
                    <input type="url" class="form-control" id="profilePictureUrl" formControlName="profilePicture">
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-danger fw-bold" data-bs-dismiss="modal">Cancel</button>
                  <button type="button" class="btn btn-primary fw-bold" data-bs-dismiss="modal">OK</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Email address-->
    <div class="row">
      <div class="col-md-6 my-2">
        <label for="emailAddress" class="form-label fw-bold">Email address</label>
        <input type="email" [ngClass]="emailAddress.valid ? 'is-valid' : 'is-invalid'"
               class="form-control py-2" id="emailAddress" placeholder="name@example.com"
               formControlName="emailAddress" required>
        <div class="invalid-feedback">
          <ng-container *ngIf="emailAddress.errors?.required">Email is required</ng-container>

          <ng-container *ngIf="emailAddress.errors?.email">Email is invalid<br>Format: name@example.com</ng-container>
        </div>
      </div>
    </div>
    <!--Password-->
    <div formGroupName="password">
      <!--Current or new password-->
      <div class="row">
        <div class="col-md-6 my-2">
          <label for="password" class="form-label fw-bold">Password</label>
          <input type="password" class="form-control py-2" id="password" placeholder="Current or new password"
                 formControlName="currentOrNewPassword">
        </div>
      </div>
      <!--Repeat password-->
      <div class="row">
        <div class="col-md-6 my-2">
          <label for="repeatPassword" class="form-label fw-bold">Repeat password</label>
          <input type="password" class="form-control py-2" id="repeatPassword" placeholder="Repeat new password"
                 formControlName="repeatPassword">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-6 my-2">
        <button type="submit" class="btn btn-primary fw-bold float-end ms-2"
                [disabled]="!accountForm.valid || !accountForm.dirty || !accountForm.touched">SAVE
        </button>
        <button type="button" class="btn btn-outline-danger fw-bold float-end" (click)="onCancel()">CANCEL</button>
      </div>
    </div>
  </form>
</div>

