<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="assets/images/logo.svg" id="icon" alt="User Icon"/>
    </div>


    <!-- Login Form -->
    <form>

        <!-- Error Message -->
        <p *ngIf="loginErrorMessage.length>0">
          {{loginErrorMessage}}
        </p>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="Email" [(ngModel)]="email">

      <input type="password" id="password" class="fadeIn third" name="login" placeholder="Password"
             [(ngModel)]="password">
      <input type="submit" class="fadeIn fourth" value="Log In" (click)="checkLoginToken()">
      <br>
      <input type="checkbox" id="rememberMe" value="Log In" (change)="onRemember($event)">
      <label for="rememberMe">Remember Me</label>

    </form>

    <!-- Remind Password -->
    <div id="formFooter" class="d-flex flex-row justify-content-between">
      <a class="underlineHover">Forgot Password?</a>
    </div>

  </div>
</div>

