<div class="accordion my-3" id="users">
  <div *ngFor="let member of team" class="accordion-item">
    <h2 class="accordion-header" [id]="'user'+member.id">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#user'+member.id+'Collapse'" aria-expanded="false" [attr.aria-controls]="'user'+member.id+'Collapse'">
        {{ member.firstName || 'Firstname' }} {{ member.lastName || 'Lastname'}}
      </button>
    </h2>
    <div [id]="'user'+member.id+'Collapse'" class="accordion-collapse collapse" [attr.aria-labelledby]="'user'+member.id" data-bs-parent="#users">
      <div class="accordion-body">
        <strong>Specialty:</strong><br>
        {{ member.specialty || 'Their specialty' }}<br>
        <strong>Email:</strong><br>
        {{ member.email || 'email@example.com' }}
      </div>
    </div>
  </div>
</div>
