<div class="accordion my-3" id="users">
  <div class="accordion-item">
    <h2 class="accordion-header" id="userOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#userOneCollapse" aria-expanded="false" aria-controls="userOneCollapse">
        {{"Firstname"}} {{"Lastname"}}
      </button>
    </h2>
    <div id="userOneCollapse" class="accordion-collapse collapse" aria-labelledby="userOne" data-bs-parent="#users">
      <div class="accordion-body">
        Specialty:<br>
        Their specialty<br>
        Email:<br>
        email@example.com
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="userTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#userTwoCollapse" aria-expanded="false" aria-controls="userTwoCollapse">
        {{"Firstname"}} {{"Lastname"}}
      </button>
    </h2>
    <div id="userTwoCollapse" class="accordion-collapse collapse" aria-labelledby="userTwo" data-bs-parent="#users">
      <div class="accordion-body">
        Specialty:<br>
        Their specialty<br>
        Email:<br>
        email@example.com
      </div>
    </div>
  </div>
</div>
