<div class="container">
  <!--Sensors Header-->
  <div class="row justify-content-center pt-4 pb-2">
    <div class="col col-lg-6">
      <div class="card shadow px-3 py-2">
        <div class="row">
          <strong class="fs-2">Green House 2</strong>
        </div>
        <hr class="my-2 opacity-100">
        <div class="row align-items-center">
          <strong class="co2-title fs-2">CO<sup>2</sup> level</strong>
          <div class="co2-levels py-1">
            <div class="input-group">
              <span class="form-control text-center fs-5"><strong>1.09</strong></span>
              <button class="btn btn-primary py-1" type="button" id="sync">
                <img class="white-filter" src="../../../../assets/sync_white_24dp.svg" alt="Synchronise">
              </button>
            </div>
          </div>
          <div class="col">
            <button class="btn btn-primary fw-bold" type="button" id="submit">SUBMIT</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Sensors Modules-->
  <div id="sensors" class="row justify-content-center py-3">
    <div *ngFor="let sensor of sensors" [id]="sensor.nameCamelCase" class="card shadow align-items-center p-3 m-2">
      <strong class="text-center fs-5">{{sensor.name}}</strong>
      <img class="flex-grow-1 py-3" [src]="sensor.imagePath" [alt]="sensor.name">
      <div class="input-group">
        <ng-container *ngIf="sensor.type=='text' else elseBlock">
          <button class="btn btn-primary py-1 fw-bold" type="button" (click)="decrementValue(sensor)">-</button>
          <input type="text" class="form-control text-center" placeholder="value" [(ngModel)]="sensor.value">
          <button class="btn btn-primary py-1 fw-bold" type="button" (click)="incrementValue(sensor)">+</button>
        </ng-container>
        <ng-template #elseBlock>
          <div class="form-control overflow-hidden p-0 position-relative">
            <input class="position-absolute start-50 top-50 translate-middle" type="color" [(ngModel)]="sensor.value">
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
