<div class="container fade-in">
  <!--Sensors Header-->
  <div class="row justify-content-center pt-4 pb-2">
    <div class="col col-md-10 col-lg-5 col-xl-5">
      <div class="card shadow px-3 py-2">
        <div class="row">
          <strong class="fs-2 text-center">Green House 2</strong>
        </div>
        <hr class="my-2 opacity-100">
        <div class="row justify-content-center">
          <strong class="co2-title fs-2">CO<sub>2</sub> level</strong>
          <div class="co2-levels py-1">
            <div class="input-group">
              <span class="form-control text-center fs-5"><strong>{{co2level}}</strong></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Sensors Modules-->
  <form [formGroup]="sensorForm" id="sensors" class="row justify-content-center py-3 mx-auto col-xl-10 p-0">
    <div *ngFor="let sensor of sensors" [id]="sensor.nameCamelCase"
         class="card shadow fade-in align-items-center p-3 m-2">
      <strong class="text-center fs-5">{{sensor.sensorName}}</strong>
      <div class="d-flex flex-grow-1">
        <img class="py-3" [src]="sensor.imagePath" [alt]="sensor.name">
        <h3 class="float-end my-auto ps-1">
          <ng-container *ngIf="sensor.currentValue else loadingSensor">
            <span class="fade-in">{{sensor.currentValue}}</span>
          </ng-container>
          <ng-template #loadingSensor>
            <div class="spinner-border border-3"></div>
          </ng-template>
        </h3>
      </div>
      <div class="input-group">
        <ng-container *ngIf="sensor.sensorName != factor.LIGHTING_RGB else colorField">
          <button [disabled]="sensorForm.get(sensor.nameCamelCase).disabled"
                  [ngClass]="sensorForm.get(sensor.nameCamelCase).enabled? 'btn-primary' : 'btn-secondary'"
                  class="btn py-1 fw-bold" type="button" (click)="decrementValue(sensor)">-</button>
          <input [formControlName]="sensor.nameCamelCase" type="text" class="form-control text-center"
                 placeholder="value" [(ngModel)]="sensor.desiredValue"
                 [ngClass]="{'is-invalid': sensorForm.get(sensor.nameCamelCase).invalid}">
          <button [disabled]="sensorForm.get(sensor.nameCamelCase).disabled"
                  [ngClass]="sensorForm.get(sensor.nameCamelCase).enabled? 'btn-primary' : 'btn-secondary'"
                  class="btn py-1 fw-bold" type="button" (click)="incrementValue(sensor)">+</button>
        </ng-container>
        <ng-template #colorField>
          <div class="form-control overflow-hidden p-0 position-relative">
            <input [formControlName]="sensor.nameCamelCase" class="position-absolute start-50 top-50 translate-middle"
                   type="color" [(ngModel)]="sensor.desiredValue">
          </div>
        </ng-template>
      </div>
    </div>
  </form>

  <!-- Activity list -->
  <div *ngIf="sensors as sensors" class="card shadow p-3 mb-5 fade-in">
    <div class="px-3 py-2 fade-in">
      <h1 class="h2 px-2 mb-1 text-truncate">Recent activity</h1>
      <hr class="my-2 opacity-100">
      <ng-container *ngIf="records.length else loadingRecords">
        <div class="table-responsive">
          <table class="table mb-2">
            <thead>
            <tr>
              <th>Timestamp</th>
              <th *ngFor="let sensor of sensors" scope="col">{{sensor.sensorName}}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let record of records">
              <th>{{record.convertedDate()}}</th>
              <td *ngFor="let sensor of sensors">{{record[sensor.nameCamelCase]}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </ng-container>
      <ng-template #loadingRecords>
        <div class="d-flex justify-content-center pt-3">
          <div class="spinner-border border-3"></div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
<div class="fixed-bottom" *ngIf="showSubmit == true">
  <button class="btn btn-primary fw-bold d-lg-block float-end px-3 me-3 mb-3 shadow" type="button" id="submit"
          (click)="onSuccess('Data saved successfully')">Submit
  </button>
</div>
<simple-notifications></simple-notifications>
