<div class="h-100 d-flex flex-column">
  <div class="navbar navbar-expand-lg p-lg-0 flex-grow-0 flex-shrink-1">
    <div class="container-lg justify-content-center">
      <div id="navitem" *ngFor="let specialty of specialties;" (click)="onSelect(specialty);">
        <a id="navlink" class="nav-link text-uppercase" routerLinkActive="nav-link-active"
           routerLink="/notes/{{specialty}}">{{specialty}}
        </a>
      </div>
    </div>
  </div>

  <ng-container>
    <app-notes class="flex-grow-1 flex-shrink-1"
               [selectedSpecialtyFromNavbar]="selectedSpecialty">
    </app-notes>
  </ng-container>
</div>

