<nav class="navbar navbar-expand-lg p-lg-0">
  <div class="container-lg">
    <div class="flex-row">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="agronomy">AGRONOMY</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="botany">BOTANY</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="geology">GEOLOGY</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="hydrology">HYDROLOGY</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="climatescience">CLIMATE SCIENCE</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
