/* You can add global styles to this file, and also import other style files */
:root{
  --cc-green: #A1E86A;
}
html, body, app-root {
  height: 100%;
}
app-root {
  display: flex;
  flex-flow: column;
}
