/* You can add global styles to this file, and also import other style files */
:root{
  --cc-green: #A4DA22;
  --cc-darkgreen: #83ae1b;
  --cc-yellow: #ffc;
  --cc-green-rgb: 164, 218, 34;
}
html,
body,
app-root {
  height: 100%;
}
app-root {
  display: flex;
  flex-flow: column;
}
.white-filter {
  filter: brightness(100) !important;
}
.btn-primary,
.btn-primary:hover,
.btn-outline-primary,
.btn-outline-primary.active,
.btn-outline-primary:hover {
  background-color: var(--cc-green) !important;
  border-color: var(--cc-green) !important;
  color: white !important;
}
.btn-outline-primary {
  background-color: white !important;
  color: var(--bs-body-color) !important;
}
.btn-primary:hover {
  background-color: var(--cc-darkgreen) !important;
  border-color: var(--cc-darkgreen) !important;
}
.btn-primary:focus,
.btn-outline-primary:focus,
.form-control:focus,
.form-select:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgb(var(--cc-green-rgb), 0.5) !important;
}
.form-check-input:focus {
  border-color: var(--cc-green) !important;
}
.form-check-input:checked {
  background-color: var(--cc-green) !important;
  border-color: var(--cc-green) !important;
}
.form-switch .form-check-input:focus {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23A4DA22'/%3e%3c/svg%3e") !important;
}
.form-switch .form-check-input:checked {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e") !important;
}
